<div class="header-spacer"></div>
<div id="content-pro">
			
		<div class="container">
			 <div class="centered-headings-pro pricing-plans-headings">
				 <h6>Mucho más que una comunidad de rap!</h6>
				 <h1>Crear cuenta de Rapdise</h1>
			 </div>
	 </div><!-- close .container -->
	 
	 <div class="container">
		 <ul id="registration-steps-pro">
			 <li>
				 <a href="signup-step1.html">
					 <div class="registration-step-circle-icon">01</div>
					 <div class="registration-step-number">Paso 1</div>
					 <h5 class="registration-step-title">Crea tu cuenta</h5>
				 </a>
			 </li>
			 <li class="current-menu-item">
				 <a href="signup-step2.html">
					 <div class="registration-step-circle-icon">02</div>
					 <div class="registration-step-number">Paso 2</div>
					 <h5 class="registration-step-title">Ajustes de perfil</h5>
				 </a>
			 </li>
			 <li>
				 <a href="signup-step3.html">
					 <div class="registration-step-circle-icon">03</div>
					 <div class="registration-step-number">Paso 3</div>
					 <h5 class="registration-step-title">¡Bienvenido a Rapdise!</h5>
				 </a>
			 </li>
		 </ul>
		 <div class="clearfix"></div>
	 </div>
	 
	 
	 <div id="pricing-plans-background-image">
		 <div class="container">
				 <div class="registration-steps-page-container">
					 
					<informacion-personal></informacion-personal>
					 
				 </div><!-- close .registration-steps-page-container -->
			 
		 </div><!-- close .container -->
	 </div><!-- close #pricing-plans-background-image -->
	 
 </div>