<div class="slider slider-rankings">
	<div class="slider__warpper">
		<div class="flex__container flex--rankings flex--activo" >
			<div class="flex__content">
				<div style="width: 55%;">
					<p class="texto--subtitulo">Los mejores de Rapdise</p>
					<h1 class="texto--grande">Rankings</h1>
					<p class="texto--normal">Pikachu is an Electric-type Pokémon introduced in Generation I. Pikachu are
						small, chubby, and incredibly cute mouse-like Pokémon. They are almost completely covered by
						yellow fur.
					</p>
					<p class="text__background">Rankings</p>
				</div>
				<div class="item-slider-tops slider-top-activo" data-slide="1">
					<h3 class="titulo">Top 3 General</h3>
					<div style="
					display: flex;
					align-items: flex-end;
					flex-wrap: wrap;
					justify-content: center;
				"><div style="
					width: 130px;
					height: 170px;
					background: #ffffff;
					border-radius: 4px 0 0 4px;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					margin-right: 0px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 1;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-000607413409-8kknp0-t500x500.jpg" style="height: 85px;width: 85px;object-fit: cover;border-radius: 99%;border: 8px solid silver;"><div style="
					color: #333333;
					position: relative;
					top: 0.6rem;
				">alexgp895</div>
<div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1rem;
					font-weight: bold;
					padding: 5px;
					background: silver;
					border-radius: 4px 0 4px 0;
				">#2</div></div><div style="
					width: 174px;
					height: 200px;
					background: #ffffff;
					border-radius: 4px 4px 0 0;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					margin-right: 0px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 3;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-SLi3DRtVUIgd-0-t500x500.jpg" style="height: 110px;width: 110px;object-fit: cover;border-radius: 99%;border: 12px solid #ecbf2f;"><div style="
					color: #333333;
					font-size: 1.1rem;
					font-weight: bold;
					position: relative;
					bottom: 0;
					width: 100%;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					top: 0.5rem;
				">LaLokeraProd</div>
<div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1.2rem;
					font-weight: bold;
					padding: 5px;
					background: #ecbf2f;
					border-radius: 4px 0 4px 0;
				">#1</div></div><div style="
					background: #ffffff;
					border-radius: 0 4px 4px 0;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					width: 120px;
					height: 140px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 2;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-000596445971-jh3py0-t500x500.jpg" style="height: 65px;width: 65px;object-fit: cover;border-radius: 99%;border: 7px solid #ce7e46;"><div style="
					color: #333333;
					/* margin-top: 1rem; */
					/* font-weight: bold; */
					position: relative;
					top: 0.6rem;
				">alexgp895</div><div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1rem;
					font-weight: bold;
					padding: 5px;
					background: #ce7e46;
					border-radius: 0 0 4px 0;
				">#3</div></div></div>
				</div>
				<div class="item-slider-tops animate--start" data-slide="2">
					<h3 class="titulo">Top 3 Productores</h3>
					<div style="
					display: flex;
					align-items: flex-end;
					flex-wrap: wrap;
					justify-content: center;
				"><div style="
					width: 130px;
					height: 170px;
					background: #ffffff;
					border-radius: 4px 0 0 4px;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					margin-right: 0px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 1;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-000607413409-8kknp0-t500x500.jpg" style="height: 85px;width: 85px;object-fit: cover;border-radius: 99%;border: 8px solid silver;"><div style="
					color: #333333;
					position: relative;
					top: 0.6rem;
				">alexgp895</div>
<div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1rem;
					font-weight: bold;
					padding: 5px;
					background: silver;
					border-radius: 4px 0 4px 0;
				">#2</div></div><div style="
					width: 174px;
					height: 200px;
					background: #ffffff;
					border-radius: 4px 4px 0 0;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					margin-right: 0px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 3;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-SLi3DRtVUIgd-0-t500x500.jpg" style="height: 110px;width: 110px;object-fit: cover;border-radius: 99%;border: 12px solid #ecbf2f;"><div style="
					color: #333333;
					font-size: 1.1rem;
					font-weight: bold;
					position: relative;
					bottom: 0;
					width: 100%;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					top: 0.5rem;
				">LaLokeraProd</div>
<div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1.2rem;
					font-weight: bold;
					padding: 5px;
					background: #ecbf2f;
					border-radius: 4px 0 4px 0;
				">#1</div></div><div style="
					background: #ffffff;
					border-radius: 0 4px 4px 0;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					width: 120px;
					height: 140px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 2;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-000596445971-jh3py0-t500x500.jpg" style="height: 65px;width: 65px;object-fit: cover;border-radius: 99%;border: 7px solid #ce7e46;"><div style="
					color: #333333;
					/* margin-top: 1rem; */
					/* font-weight: bold; */
					position: relative;
					top: 0.6rem;
				">alexgp895</div><div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1rem;
					font-weight: bold;
					padding: 5px;
					background: #ce7e46;
					border-radius: 0 0 4px 0;
				">#3</div></div></div>
				</div>
				<div class="item-slider-tops animate--start" data-slide="3">
					<h3 class="titulo">Top 3 Freestyle</h3>
					<div style="
					display: flex;
					align-items: flex-end;
					flex-wrap: wrap;
					justify-content: center;
				"><div style="
					width: 130px;
					height: 170px;
					background: #ffffff;
					border-radius: 4px 0 0 4px;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					margin-right: 0px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 1;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-000607413409-8kknp0-t500x500.jpg" style="height: 85px;width: 85px;object-fit: cover;border-radius: 99%;border: 8px solid silver;"><div style="
					color: #333333;
					position: relative;
					top: 0.6rem;
				">alexgp895</div>
<div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1rem;
					font-weight: bold;
					padding: 5px;
					background: silver;
					border-radius: 4px 0 4px 0;
				">#2</div></div><div style="
					width: 174px;
					height: 200px;
					background: #ffffff;
					border-radius: 4px 4px 0 0;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					margin-right: 0px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 3;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-SLi3DRtVUIgd-0-t500x500.jpg" style="height: 110px;width: 110px;object-fit: cover;border-radius: 99%;border: 12px solid #ecbf2f;"><div style="
					color: #333333;
					font-size: 1.1rem;
					font-weight: bold;
					position: relative;
					bottom: 0;
					width: 100%;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					top: 0.5rem;
				">LaLokeraProd</div>
<div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1.2rem;
					font-weight: bold;
					padding: 5px;
					background: #ecbf2f;
					border-radius: 4px 0 4px 0;
				">#1</div></div><div style="
					background: #ffffff;
					border-radius: 0 4px 4px 0;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					width: 120px;
					height: 140px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 2;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-000596445971-jh3py0-t500x500.jpg" style="height: 65px;width: 65px;object-fit: cover;border-radius: 99%;border: 7px solid #ce7e46;"><div style="
					color: #333333;
					/* margin-top: 1rem; */
					/* font-weight: bold; */
					position: relative;
					top: 0.6rem;
				">alexgp895</div><div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1rem;
					font-weight: bold;
					padding: 5px;
					background: #ce7e46;
					border-radius: 0 0 4px 0;
				">#3</div></div></div>
				</div>
				<div class="item-slider-tops animate--start" data-slide="4">
					<h3 class="titulo">Top 3 Batallas</h3>
					<div style="
					display: flex;
					align-items: flex-end;
					flex-wrap: wrap;
					justify-content: center;
				"><div style="
					width: 130px;
					height: 170px;
					background: #ffffff;
					border-radius: 4px 0 0 4px;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					margin-right: 0px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 1;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-000607413409-8kknp0-t500x500.jpg" style="height: 85px;width: 85px;object-fit: cover;border-radius: 99%;border: 8px solid silver;"><div style="
					color: #333333;
					position: relative;
					top: 0.6rem;
				">alexgp895</div>
<div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1rem;
					font-weight: bold;
					padding: 5px;
					background: silver;
					border-radius: 4px 0 4px 0;
				">#2</div></div><div style="
					width: 174px;
					height: 200px;
					background: #ffffff;
					border-radius: 4px 4px 0 0;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					margin-right: 0px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 3;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-SLi3DRtVUIgd-0-t500x500.jpg" style="height: 110px;width: 110px;object-fit: cover;border-radius: 99%;border: 12px solid #ecbf2f;"><div style="
					color: #333333;
					font-size: 1.1rem;
					font-weight: bold;
					position: relative;
					bottom: 0;
					width: 100%;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					top: 0.5rem;
				">LaLokeraProd</div>
<div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1.2rem;
					font-weight: bold;
					padding: 5px;
					background: #ecbf2f;
					border-radius: 4px 0 4px 0;
				">#1</div></div><div style="
					background: #ffffff;
					border-radius: 0 4px 4px 0;
					box-shadow: 0 0 5px rgba(0,0,0,0.1);
					width: 120px;
					height: 140px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					z-index: 2;
				"><img _ngcontent-flp-c7="" src="https://i1.sndcdn.com/artworks-000596445971-jh3py0-t500x500.jpg" style="height: 65px;width: 65px;object-fit: cover;border-radius: 99%;border: 7px solid #ce7e46;"><div style="
					color: #333333;
					/* margin-top: 1rem; */
					/* font-weight: bold; */
					position: relative;
					top: 0.6rem;
				">alexgp895</div><div style="
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
					color: #fff;
					font-size: 1rem;
					font-weight: bold;
					padding: 5px;
					background: #ce7e46;
					border-radius: 0 0 4px 0;
				">#3</div></div></div>
				</div>
			</div>
			<div class="flex__item flex__item--izq"></div>
			<div class="flex__item flex__item--der"></div>
			<img class="img-tops-slider-ranking" src="https://images.squarespace-cdn.com/content/v1/5ab1fa7a1aef1d64cc6f7f73/1525235048450-1MMWJDOZLVQS59JHG8RT/ke17ZwdGBToddI8pDm48kMkAmbWlU1oI738o-dDHn95Zw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVFlGdC4YQAkcBCQC6RC2jt0rxCcsIEzWJ4Q6fmr_ojVUSb8BodarTVrzIWCp72ioWw/Step+3.png">
		</div>
	</div>

	<div class="slider__navi">
		<a href="#" class="slide-nav activo" data-slide="1">Top 3 General</a>
		<a href="#" class="slide-nav" data-slide="2">Top 3 Productores</a>
		<a href="#" class="slide-nav" data-slide="3">Top 3 Freestyle</a>
		<a href="#" class="slide-nav" data-slide="4">Top 3 Batallas</a>
	</div>
</div>
<div class="content" role="main">
	<div class="menu-filtro-biblioteca">
		<mat-chip-list multiple>
			<mat-chip (click)="cambiarRanking(estilo.value);" [selected]="rankingElegido == estilo.value" color="accent"
				*ngFor="let estilo of estilos;let i = index;">{{estilo.viewValue}}</mat-chip>
		</mat-chip-list>
		<!-- Icono Ajustes filtro estilos-->
		<mat-icon style="margin-left: 9px;font-family: 'Material Icons Outlined';"
			class="no-svg mat-icon notranslate material-icons mat-icon-no-color" role="img">settings</mat-icon>

		<!-- Filtro orden -->
		<mat-form-field class="select-filtro-orden" appearance="outline" style="margin-left: 10px">
			<mat-label>Ordenar por:</mat-label>
			<mat-select name="filtroOrden" [(ngModel)]="filtroOrden">
				<mat-option *ngFor="let opcion of opcionesFiltroOrden" [value]="opcion.value">
					{{opcion.viewValue}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<div class="display-flex justify-content-space-between align-items-center flex-auto">
			<div class="menu-tipo-vista">
				<i [class.activo]="tipoVista == 'grid'" (click)="setTipoVista('grid')"
					class="icono-grid material-icons">view_module</i>
				<i [class.activo]="tipoVista == 'lista'" (click)="setTipoVista('lista')"
					class="icono-lista material-icons">view_list</i>
			</div>
			<a [routerLink]="['/subir-bases']" mat-raised-button color="warn">Subir bases de rap</a>
		</div>
	</div>

	<div class="contenido-rankings">

		<!-- <div style="float: left;margin-bottom: 30px;width: 100%;">
			<span (click)="cambiarRanking('General');" [class.active]="rankingElegido == 'General'" class="etiqueta-tipo-ranking">
				General
			</span>

			<span (click)="cambiarRanking('Beats');" [class.active]="rankingElegido == 'Beats'" class="etiqueta-tipo-ranking">
				Beats
			</span>

			<span (click)="cambiarRanking('Batallas');" [class.active]="rankingElegido == 'Batallas'" class="etiqueta-tipo-ranking">
				Batallas
			</span>
			
			<span (click)="cambiarRanking('Freestyle');" [class.active]="rankingElegido == 'Freestyle'" class="etiqueta-tipo-ranking">
				Freestyle
			</span>
		</div> -->

		<ranking-general [class.display-none]="rankingElegido != 'general'"></ranking-general>
		<ranking-freestyle [class.display-none]="rankingElegido != 'freestyle'"></ranking-freestyle>
		<ranking-batallas [class.display-none]="rankingElegido != 'batallas'"></ranking-batallas>
		<ranking-beats [class.display-none]="rankingElegido != 'bases'"></ranking-beats>
	</div>
</div>