//MODAL RAPDISE 

.modal-rapdise {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: -1;

    &.abierto {
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }
}