<div class="barra-cabecera-admin">
    <h1>Mashonry con js y css</h1>
    <div _ngcontent-gjd-c2="" class="botones-barra-cabecera-admin">
        <div _ngcontent-gjd-c2="" class="chip">
            <img _ngcontent-gjd-c2="" alt="Contact Person" src="https://source.unsplash.com/random/4">Animales
        </div>
        <div _ngcontent-gjd-c2="" class="chip activo">
            <img _ngcontent-gjd-c2="" alt="Contact Person" src="https://source.unsplash.com/random/4">Personas
        </div>
        <div _ngcontent-gjd-c2="" class="chip">
            <img _ngcontent-gjd-c2="" alt="Contact Person" src="https://source.unsplash.com/random/4">Vehiculos
        </div>
        <div _ngcontent-gjd-c2="" class="chip">
            <img _ngcontent-gjd-c2="" alt="Contact Person" src="https://source.unsplash.com/random/4">Edificios
        </div>
        <button _ngcontent-gjd-c2="" class="naranja">
            Añadir imagenes
        </button>
    </div>
</div>


<div id="galeria-masonry">

    <div class="item-masonry item-imagen-admin">
        <img src="https://source.unsplash.com/random/1">
        <div class="contenido-item-imagen-admin">1</div>
    </div>
    <div class="item-masonry item-imagen-admin">
        <img src="https://source.unsplash.com/random/2">
        <div class="contenido-item-imagen-admin">2</div>
    </div>
    <div class="item-masonry item-imagen-admin">
        <img src="https://source.unsplash.com/random/3">
        <div class="contenido-item-imagen-admin">3</div>
    </div>
    <div class="item-masonry item-imagen-admin">
        <img src="https://source.unsplash.com/random/4">
        <div class="contenido-item-imagen-admin">4</div>
    </div>
    <div class="item-masonry item-imagen-admin">
        <img src="https://source.unsplash.com/random/5">
        <div class="contenido-item-imagen-admin">5</div>
    </div>
    <div class="item-masonry item-imagen-admin">
        <img src="https://source.unsplash.com/random/6">
        <div class="contenido-item-imagen-admin">6</div>
    </div>
    <div class="item-masonry item-imagen-admin">
        <img src="https://source.unsplash.com/random/7">
        <div class="contenido-item-imagen-admin">7</div>
    </div>
    <div class="item-masonry item-imagen-admin">
        <img src="https://source.unsplash.com/random/8">
        <div class="contenido-item-imagen-admin">8</div>
    </div>
    <div class="item-masonry item-imagen-admin">
        <img src="https://source.unsplash.com/random/9">
        <div class="contenido-item-imagen-admin">9</div>
    </div>
    <div class="item-masonry item-imagen-admin">
        <img src="https://source.unsplash.com/random/10">
        <div class="contenido-item-imagen-admin">10</div>
    </div>

</div>